<ion-header>
    <ion-toolbar>
      <ion-item >
          <ion-icon name="pin"></ion-icon>
          <ion-text >Visakhapatnam</ion-text>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content class="ion-padding">

            <ion-slides *ngIf="data" pager="true" [options]="slideOpts">
            
              <ion-slide *ngFor="let res of data">
              <h1>{{ res.user }}</h1> 
                <ion-card>
                <ion-card-header *ngIf="res.image">
                  <img src="{{ res.image.url }}">
                </ion-card-header> 
                  {{ res.content }}
                </ion-card>
                <h1>{{ res.name }}</h1>
              </ion-slide>
            </ion-slides>
        <ion-fab vertical="bottom" horizontal="start" slot="fixed">
          <ion-fab-button>
            <ion-icon name="arrow-dropleft"></ion-icon>
          </ion-fab-button>
        </ion-fab>
            <ion-fab vertical="bottom" horizontal="center" slot="fixed">
              <ion-fab-button >
                <ion-icon name="heart"></ion-icon>
              </ion-fab-button>
            </ion-fab>
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button>
            <ion-icon name="arrow-dropright"></ion-icon>
          </ion-fab-button>
        </ion-fab>
  </ion-content>