<ion-header>
    <ion-toolbar>
      <ion-item >
          <ion-icon name="pin"></ion-icon>
          <ion-text >Visakhapatnam</ion-text>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
<tinder-ui [cards]="cards" (choiceMade)="logChoice($event)"></tinder-ui>

</ion-content>

<ion-footer>

  <ion-toolbar>
    <ion-button expand="full" (click)="loadTinderCards()">Load Tinder Cards!</ion-button>
  </ion-toolbar>

</ion-footer>

            <!-- <ion-slides *ngIf="data" pager="true" [options]="slideOpts">
            
              <ion-slide *ngFor="let res of data">
              <h1>{{ res.user }}</h1> 
                <ion-card>
                <ion-card-header *ngIf="res.image">
                  <img src="{{ res.image.url }}">
                </ion-card-header> 
                  {{ res.content }}
                </ion-card>
                <h1>{{ res.name }}</h1>
              </ion-slide>
            </ion-slides>
        -->