<ion-header>
  <ion-toolbar>
      <ion-item slot="end">
    <ion-text>My Books</ion-text>
    </ion-item>
    <ion-searchbar animated placeholder="Enter Book Name"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list>

    <ion-item>
        <ion-avatar slot="end">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>
          <h2>Book name</h2>
          <h3>Author name</h3>
        </ion-label>
      </ion-item>
      <ion-item>
          <ion-avatar slot="end">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label>
            <h2>Book name</h2>
            <h3>Author name</h3>
          </ion-label>
        </ion-item>
        <ion-item>
            <ion-avatar slot="end">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>
              <h2>Book name</h2>
              <h3>Author name</h3>
            </ion-label>
          </ion-item>
      
</ion-list>
   
</ion-content>
