<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="explore">
        <ion-icon name="qr-scanner"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
        <ion-icon name="chatboxes"></ion-icon>
        <ion-label>Chat</ion-label>
      </ion-tab-button>

    <ion-tab-button tab="post" class="mod">
      <ion-icon name="add"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="mybooks">
      <ion-icon name="book"></ion-icon>
      <ion-label>My books</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
        <ion-icon name="contact"></ion-icon>
        <ion-label>My Account</ion-label>
      </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
