<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
    <ion-input ng-bind = "uname" placeholder="Enter name"></ion-input>
    <ion-input ng-bind="email" placeholder="Enter email"></ion-input>
    <ion-input ng-bind="pass" placeholder="Enter password"></ion-input>
        </ion-card>
        
              Already have an account <a href="login">login</a>
          <ion-button (onClick)= sub()>Signup</ion-button>

          
</ion-content>
