<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="tabs/chat"></ion-back-button>
        </ion-buttons>
    <ion-title>Userchat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   
      
</ion-content>

<ion-footer>
  <ion-item>
        
    <ion-button color="dark"> <ion-icon name="camera"></ion-icon></ion-button>
    <ion-input placeholder="Enter message here..."></ion-input>
    <ion-button color="dark"> <ion-icon name="send"></ion-icon></ion-button>
  
</ion-item>
</ion-footer>
