<ion-header>
  <ion-toolbar>
    <ion-title>My Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-avatar class="avatar" >
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-list>
          <ion-item>
          <ion-label >Name : </ion-label>
          <ion-note>P Sai Bhaskar</ion-note>
            </ion-item>
          <ion-item>
          <ion-label >Age : </ion-label>
          <ion-note>20</ion-note>
          </ion-item>
          <ion-item>
          <ion-label >Email : </ion-label>
          <ion-note>saibaaskar24091999@gmail.com</ion-note>
          </ion-item>
          <ion-item>
          <ion-label >Phone no : </ion-label>
          <ion-note>9491263729</ion-note>
          </ion-item>
          <ion-button expand="block">Logout</ion-button>
          <ion-button (click)="login()" expand="block">Login</ion-button>
          
      </ion-list>
        
   
      
</ion-content>
